<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
    <h1>Create a New User</h1>
    <form action="{{ url_for('create') }}" method="POST">
        id: <input type="text" name="id_employee" required><br>
        Nama: <input type="text" name="name" required><br>
        Departement: <input type="text" name="departement" required><br>
        Salary: <input type="text" name="salary" required><br>
        <button type="submit">Create Employee</button>
    </form>
    <a href="{{ url_for('index') }}">Back to Users</a>
</body>
</html>
