<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
</head>
<body>
    <h1>Edit Employee</h1>
    <form action="{{ url_for('update', employee_id=employee[0]) }}" method="POST">
        id: <input type="text" name="employee_id" value="{{ employee[0] }}" required><br>
        Nama: <input type="text" name="name" value="{{ employee[1] }}" required><br>
        Departement: <input type="text" name="departement" value="{{ employee[2] }}" required><br>
        Salary: <input type="text" name="salary" value="{{ employee[3] }}" required><br>
        <button type="submit">Update Employee</button>
    </form>
    <a href="{{ url_for('index') }}">Back to Employees</a>
</body>
</html>
